@using QZ.Model.Interview
@model QZ_Model_In_Menu
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>菜单编辑</title>
    <link href="~/layuiadmin/layui/css/layui.css" rel="stylesheet" />
    <script src="~/layuiadmin/layui/layui.js"></script>
</head>
<body>
    <div class="layui-fluid">
        <div class="layui-row layui-col-space15">
            <div class="layui-col-md12">
                <div class="layui-card">
                    <div class="layui-card-body">
                        <form class="layui-form" lay-filter="component-form-element">
                            <input type="hidden" name="ID" autocomplete="off" class="layui-input" value="@Model.ID">
                            @if (Model.ID > 0)
                            {
                                <input type="hidden" name="ParentID" autocomplete="off" class="layui-input" value="@Model.ParentID">
                            }
                            else
                            {
                                <input type="hidden" name="ParentID" autocomplete="off" class="layui-input" value="@ViewBag.PID">
                            }
                            <input type="hidden" name="CreateTime" autocomplete="off" class="layui-input" value="@Convert.ToDateTime(Model.CreateTime).ToString("yyyy-MM-dd HH:mm:ss")">
                            <div class="layui-form-item">
                                <label class="layui-form-label">菜单名称：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="MenuName" lay-verify="required" placeholder="请输入菜单名称" autocomplete="off" class="layui-input" value="@Model.MenuName">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">页面路径：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="PathUrl" placeholder="请输入页面路径" autocomplete="off" class="layui-input" value="@Model.PathUrl">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">排序序号：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="SortNumber" lay-verify="required|number" placeholder="请输入排序序号" autocomplete="off" class="layui-input" value="@Model.SortNumber">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">是否启用：</label>
                                <div class="layui-input-block">
                                    @*<input type="checkbox" name="Status" id="Status" lay-skin="switch" checked="checked" lay-text="是|否">*@
                                    <input type="radio" name="Status" value="0" title="启用" checked>
                                    <input type="radio" name="Status" value="1" title="禁用">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <label class="layui-form-label">菜单图标：</label>
                                <div class="layui-input-block">
                                    <input type="text" name="Icon" placeholder="请输入菜单图标" autocomplete="off" class="layui-input" value="@Model.Icon">
                                </div>
                            </div>
                            <div class="layui-form-item">
                                <div class="layui-input-block" style="margin:0;text-align:center;">
                                    <button class="layui-btn layui-btn-normal" lay-submit="" lay-filter="savechange">保存</button>
                                    <button type="reset" class="layui-btn layui-btn-primary">重置</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        layui.use(['layer', 'table', 'form', 'laydate'], function () {
            var $ = layui.jquery; //重点处
            var form = layui.form
                , laydate = layui.laydate
                , layer = layui.layer;

            //监听提交
            form.on('submit(savechange)', function (data) {
                var index = layer.load(1, { shaed: [0.0, '#fff'] });
                $.ajax({
                    url: "/Interview/Menus/EditSaveChange",
                    type: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(data.field),
                    dataType: 'json',
                    success: function (d) {
                        layer.close(index);
                        if (d.code == 1) {
                            layer.msg('保存成功', {
                                icon: 1,
                                time: 1800
                            }, function () {
                                var index = parent.layer.getFrameIndex(window.name);
                                parent.layer.close(index);
                                parent.layui.table.reload("tab-menu");
                            });
                        } else {
                            layui.layer.msg(res.message, {
                                icon: 2,
                                time: 2000
                            });
                        }
                    }, fail: function () {
                        layer.close(index);
                    }
                });
                return false;
            });
        });
        //关闭
        function Close() {
            var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
            parent.layer.close(index); //再执行关闭
        };
    </script>
</body>
</html>
